# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

*.lock
test_data.json

# NBT Files for testing
*.nbt
*.dat
